@charset "UTF-8";
/* aplicamos reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Mobile First */
body {
  font-family: "Roboto Serif", serif;
  background-image: linear-gradient(to left, beige, pink); }

header {
  background-image: linear-gradient(to left, beige, #800040); }

nav {
  background-image: linear-gradient(to right, grey, black);
  font-weight: bold; }

.colorMenu {
  color: pink; }

.bgColorPink {
  background-image: linear-gradient(to left, pink, beige); }

.bold {
  font-weight: bold; }

section {
  font-weight: bold;
  background-size: 100%;
  image-resolution: 100%;
  margin-bottom: 40px; }

.boxBottom {
  margin-bottom: 20px; }

article {
  background-color: none; }

footer {
  background-image: linear-gradient(to right, grey, black);
  font-weight: bold;
  transition: 1s; }
  footer:hover {
    transform: scale(1.01); }

/* h1 {
    font-family: "Corinthia", cursive;
    font-size: 50px;
    letter-spacing: 5px;
    transition: 1s;
  }
  
  h1:hover {
    transform: scale(1.05);
  } */
h1 {
  font-family: "Corinthia", cursive;
  font-size: 60px;
  letter-spacing: 5px;
  /* transition: 1s; */ }
  h1:hover {
    /* transform: scale(1.05); */
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

h2 {
  /* transition: 1s; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif "Corinthia", cursive;
  font-size: 40px; }
  h2:hover {
    /* transform: scale(1.05); */
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }

a {
  text-decoration: none;
  color: black;
  /* El vínculo común y corriente, en reposo. */
  /*Cuando se pasa el mouse por encima. */ }
  a:hover {
    color: whitesmoke; }
  a:active {
    color: beige; }

/*Mientras el usuario mantiene el click. */
ul {
  list-style: none; }

i {
  transition: 1s; }
  i:hover {
    transform: scale(1.2); }

li {
  background-color: none;
  padding: 5px;
  /* margin: 5px; */
  text-transform: initial;
  border-radius: 50px; }

div {
  background-color: none; }

p {
  background-color: #f3cdcd;
  padding: 5px;
  margin: 5px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: justify;
  /* overflow: visible; */ }

img {
  max-width: 100%;
  max-height: 100%;
  transition: 1s; }
  img:hover {
    transform: scale(1.05); }

.imgIndex {
  width: 100%;
  height: 100%; }

label {
  transition: 1s; }
  label:hover {
    transform: scale(1.05); }

textarea {
  transition: 1s; }
  textarea:hover {
    transform: scale(1.05); }

input {
  transition: 1s; }
  input:hover {
    transform: scale(1.05); }

svg {
  transition: 1s; }
  svg:hover {
    transform: scale(1.1); }

:root {
  --animate-duration: 4s;
  --animate-delay: $transition; }

.logo {
  /* background-color: black; */
  border-radius: 50px; }

.footerColor {
  color: whitesmoke; }

.card {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  .card:hover:before {
    left: 0; }
  .card div {
    position: relative;
    z-index: 1; }
  .card:before {
    content: "";
    position: absolute;
    left: calc(-100% + 4px);
    top: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    transition: 0.5s ease-in-out; }
  .card:nth-child(1):before {
    background: linear-gradient(to left, pink, beige); }
  .card:nth-child(2):before {
    background: linear-gradient(to left, pink, beige); }
  .card:nth-child(3):before {
    background: linear-gradient(to left, pink, beige); }

.redes {
  font-size: 25px;
  /* margin: 5px; */ }
  .redes:hover {
    color: #0277bd; }
  .redes:active {
    color: grey; }

/* .redes:visited{
      color: blue;
  } */
.size25 {
  width: 25px;
  height: 25px; }

.size50 {
  width: 50px;
  height: 50px; }

.size75 {
  height: 75px;
  width: 75px; }

.size400 {
  height: 400px; }

.size450 {
  height: 450px; }

.size450b {
  height: 450px;
  width: 300px; }

textarea {
  width: 300px;
  height: 150px; }

.center {
  text-align: center; }

.overflowAuto {
  overflow: auto; }

.borderRadius50 {
  border-radius: 50px; }

input[type="submit"] {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px; }

input[type="reset"] {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 40px; }

/* Style inputs, select elements and textareas */
input[type="text"],
select,
textarea {
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical; }

/* Style inputs, select elements and textareas */
input[type="email"],
select,
textarea {
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical; }

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block; }

/* Style the submit button */
input[type="submit"] {
  background-color: black;
  color: whitesmoke;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type="reset"] {
  background-color: black;
  color: whitesmoke;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

/* Floating column for labels: 25% width */
.col-25 {
  width: 25%;
  margin-top: 6px; }

.showUp {
  transition: 1s; }
  .showUp:hover {
    transform: scale(1.1); }

/* media queries*/
/* Tabletas como el iPad (1024×768), en modo horizontal, así como algunas pantallas de ordenador portátil, netbook, y de escritorio */
/* @media only screen and (min-width: 1024px) { */
/* SOBREESCRIBIR EL METODO DE BOOTSTRAP */
/* layout del index */
/* se utiliza para poner el layout para "Servicios" y "Staff" */
/* se utiliza para poner el layout para "Nuestros Trabajos"*/
/* } */
