@charset "UTF-8";
/* aplicamos reset */
@import "utilities/_variables.scss";
@import "utilities/maps.scss";

/* Mobile First */

.bgColorPink {
  background-image: $bgcolorCard;
}

.bold {
  font-weight: bold;
}
.colorMenu {
  color: $color5;
  @extend .bold;
}

.boxBottom {
  margin-bottom: 20px;
}

h1 {
  font-family: "Corinthia", cursive;
  font-size: 60px;
  letter-spacing: 5px;
  /* transition: 1s; */
  &:hover {
    /* transform: scale(1.05); */
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  /* transition: 1s; */
  font-family: $fontH2;
  font-size: 40px;

  &:hover {
    /* transform: scale(1.05); */
    animation-duration: $transition;
    animation-name: aparecer;
    animation-iteration-count: infinite;
  }
}

a {
  text-decoration: none;
  color: $color3;

  /* El vínculo común y corriente, en reposo. */
  &:hover {
    color: $color1;
  }
  /*Cuando se pasa el mouse por encima. */
  &:active {
    color: $color2;
  }
}

/*Mientras el usuario mantiene el click. */
ul {
  list-style: none;
}

i {
  transition: $transition;
  &:hover {
    transform: scale(1.2);
  }
}

li {
  background-color: none;
  padding: 5px;
  /* margin: 5px; */
  text-transform: initial;
  border-radius: 50px;
}

div {
  background-color: none;
}

p {
  background-color: #f3cdcd;
  padding: 5px;
  margin: 5px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: justify;
}

img {
  max-width: 100%;
  max-height: 100%;
  transition: $transition;

  &:hover {
    transform: scale(1.05);
  }
}

.imgIndex {
  width: 100%;
  height: 100%;
}

label,
input,
textarea {
  transition: $transition;
  &:hover {
    transform: $scale2;
  }
}

svg {
  transition: $transition;
  &:hover {
    transform: $scale;
  }
}

:root {
  --animate-duration: 4s;
  --animate-delay: $transition;
}

.logo {
  /* background-color: black; */
  border-radius: 50px;
}

.footerColor {
  color: $color1;
}

.card {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &:hover:before {
    left: 0;
  }

  & {
    div {
      position: relative;
      z-index: 1;
    }
  }

  &:before {
    content: "";
    position: absolute;
    left: calc(-100% + 4px);
    top: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    transition: 0.5s ease-in-out;
  }

  &:nth-child(1):before {
    background: $bgcolorCard;
  }
  &:nth-child(2):before {
    background: $bgcolorCard;
  }
  &:nth-child(3):before {
    background: $bgcolorCard;
  }
}

@mixin sizes($width, $height) {
  height: $height;
  width: $width;
}

@mixin sizesH($height) {
  height: $height;
}
.size25 {
  @include sizes(25px, 25px);
}
.size50 {
  @include sizes(50px, 50px);
}
.size75 {
  @include sizes(75px, 75px);
}
.size400 {
  @include sizesH(400px);
}
.size450 {
  @include sizesH(450px);
}
.size450b {
  @include sizes(300px, 450px);
}
.center {
  text-align: center;
}

.overflowAuto {
  overflow: auto;
}

.borderRadius50 {
  border-radius: 50px;
}

input[type="submit"] {
  width: 100%;
  margin-top: $marginTopContact;
  margin-bottom: 5px;
}

input[type="reset"] {
  @extend input[type="submit"];
  margin-bottom: 40px;
}

/* Style inputs, select elements and textareas */

input[type="email"],
input[type="text"],
select {
  width: 75%;
  padding: $paddingContact;
  border: $borderContact;
  border-radius: 4px;
  box-sizing: border-box;
  resize: $vertical;
}

textarea {
  width: 75%;
  height: 150px;
  @extend input[type="email"];
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit & reset button */
input[type="reset"],
input[type="submit"] {
  background-color: $color3;
  color: $color1;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Floating column for labels: 25% width */
.col-25 {
  width: 25%;
  margin-top: 6px;
}

.showUp {
  transition: $transition;
  &:hover {
    transform: $scale;
  }
}

/* media queries*/
/* Tabletas como el iPad (1024×768), en modo horizontal, así como algunas pantallas de ordenador portátil, netbook, y de escritorio */
/* @media only screen and (min-width: 1024px) { */
/* SOBREESCRIBIR EL METODO DE BOOTSTRAP */
/* layout del index */
/* se utiliza para poner el layout para "Servicios" y "Staff" */
/* se utiliza para poner el layout para "Nuestros Trabajos"*/
/* } */
